@import "variables.css";

.black {
  --primary: var(--dark-raisin);
  --secondary: var(--sage);
  --tertiary: var(--licorice);
}

.blue {
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);
  --tertiary: var(--blue);
}

body {
  background-color: var(--primary); 
  font-family: "Bitter", serif;
}

.header {
  font-size: 10vh;
  color: var(--heading-color);
  margin: 0vw 1vw;
}

.button-container {
  display: flex;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1vw;
  background-color: var(--secondary);
  border-radius: 2vw;
  width: 44vw;
  margin: 1vw;
  justify-content: center;
  box-sizing: border-box;
  text-align: center;
}

.filter-button {
  background-color: var(--button-color);
  border: none;
  margin: 1vw;
  padding: 1vw;
  font-family: "Bitter", serif;
}

.product-image {
  width: 100%;
  max-height: 28vw;
  object-fit: cover;
  border: 1vw solid var(--tertiary);
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 1vw;
}

#theme-button {
  margin-left: auto;
}

.filter-button:hover {
  background-color: var(--hover-color);
}

@media (max-width: 600px) {
  .filter-button {
    font-size: 0.5rem;
  }
  #theme-button {
    margin: 1vw;
  }
}