.card {
  border: 1px solid #ddd;
  padding: 1vw;
  margin: 1vw;
  width: 10vw;
}

#container {
  display: flex;
  flex-wrap: wrap;
}

.filter-button {
  margin: 1vw;
  padding: 1vw;
  background-color: #C7C7A6;
  border: none;
}