:root{
    --dark-raisin: #16161E;
    --sage: #C7C7A6;
    --licorice: #25171A;
    --vanilla: #D0DB97;
    --green: #69B578;
    --dark-blue: #114B5F;
    --blue: #456990;
    --light-blue: #9DD9D2;

    /*Intentions*/
    --primary: var(--dark-blue);
    --secondary: var(--light-blue);
    --tertiary: var(--blue);
    --heading-color: var(--vanilla);
    --button-color: var(--green);
    --hover-color: var(--vanilla);
}